---
---

img {
  max-width: 100%;
}

.panel, .panel-heading {
  border-radius: 0;
}

.header {
  .logo {
    max-height: 55px;
    margin: 18px 0 13px 3px;
  }
}

@media (max-width:767px) {
  .header .logo {
    max-height: 45px;
    margin: 13px 0 13px 3px;
  }
} 

.footer .footer-body {
  padding: 30px 0 15px;
  img {
    max-height: 55px;
    max-width: 200px;
    margin: 0 10px 15px;
  }
}
.copyright span {
  padding: 0 5px;
}


.powered-by {
  padding: 50px 0;

  .text-right {
    padding-top: 15px; padding-bottom: 15px;
    border-right: 1px solid #eee;
  }
  a {
    img {
      max-width: 240px;
      max-height: 65px;
      margin: 10px;
    }
    &:hover {
      text-decoration: none;
      img {
        opacity: 0.8;
      }
    }
  }
  
}

.section-courses {
  padding: 60px 0;

  .course-icon {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    border-radius: 9999px;
    background-color: rgba(255,255,255,0.2);

    width: 60px;
    height: 60px;

    svg, img {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
  }

  .course-description {
    text-align: left;
    display: inline-block;
    padding: 10px;
    h4 {
      color: #fff;
      display: inline-block;
      vertical-align: middle;
    }
  }
  
}

.list-stats li {
  width: 25%;
}
@media (max-width:767px) {
  .list-stats li {
    width: 50%;
  }
}

.page-about {
  .section-academy .section-body img {
    max-height: 70px;
    max-width: 250px;
    margin: 5px;
  }
}
