---
layout: default
header-filled: true

title: Home
---

{% include home/slider.html %}

{% include home/powered-by.html %}

{% include home/events.html %}

<section class="section-callout-about">
  <div class="container">
    <div class="section-body">
      <div class="row">
        <div class="col-md-10 col-center">
          <div class="callout-about">
            <h2>What is the StoryLab Academy?</h2>

            <p>Organised by Code for Africa, and powered by the Google News Lab and World Bank, this series of one-day workshops offers participants the opportunity to learn techniques for defining new revenue models, building digital products and creating sustainable business initiatives. The goal is to nurture leadership skills in digital innovators by connecting them with other innovators and giving them the tools to scale their ideas, wherever they work.</p>
          </div><!-- /.callout-about -->
        </div><!-- /.col-md-10 -->
      </div><!-- /.row -->
    </div><!-- /.section-body -->
  </div><!-- /.container -->
</section><!-- /.section-section-callout-about -->

{% include home/newsletter.html %}

{% include home/stats.html %}

{% include home/speakers.html %}

{% include section-wall.html %}
