---
layout: default
header-filled: true

title: Home
---

{% include home/slider.html %}

<div class="container text-center" style="max-width: 720px; margin-bottom: -20px;">
  <p class="" style="margin-top: 60px;"><img src="/img/logos/powered-by.png"></p>
  <hr style="margin-top: 50px;" />
</div>


{% include home/courses.html %}

<section class="section-callout-about">
  <div class="container">
    <div class="section-body">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="callout-about text-center">
            <h2>What is the<br/>StoryLab Academy?</h2>

            <p class="lead">Journalism is evolving so quickly that newsrooms are struggling to keep up.</p>
            <p class="lead">The StoryLab Academy seeks to help, by bringing face-to-face training into partner newsrooms across Africa, and by hosting public workshops at monthly Hacks/Hackers meetups.</p>
            <p class="lead">The Academy will also offer online courses and webinars, designed to teach just one tool or technique at a time, so participants can upgrade their skills at their own pace.</p>
            <p class="lead">The training will be spearheaded by the continent’s largest digital journalism network, <a href="https://codeforafrica.org" target="_blank" rel="noopener"><strong>Code for Africa</strong></a>, with support from the <a href="https://newslab.withgoogle.com/" target="_blank" rel="noopener"><strong>Google News Lab</strong></a> and <a href="http://worlbank.org/" target="_blank" rel="noopener"><strong>World Bank</strong></a>.</p>
          </div><!-- /.callout-about -->
        </div><!-- /.col-md-10 -->
      </div><!-- /.row -->
    </div><!-- /.section-body -->
  </div><!-- /.container -->
</section><!-- /.section-section-callout-about -->

{% include home/events.html %}

{% include home/stats.html %}

{% include home/newsletter.html %}
