---
layout: default
header-filled: true

title: Home
---

{% include home/slider.html %}

{% include home/powered-by.html %}

{% include home/events.html %}

<section class="section-callout-about">
  <div class="container">
    <div class="section-body">
      <div class="row">
        <div class="col-md-10 col-center">
          <div class="callout-about">
            <h2>What is the News Impact Series?</h2>

            <p><p>Free-to-attend media innovation events, organised by the European Journalism Centre and powered by the Google News Lab that bring together international media experts with local news communities to focus on how new technology, tools and methods are changing the way journalists work in the newsroom.&nbsp;</p></p>
          </div><!-- /.callout-about -->
        </div><!-- /.col-md-10 -->
      </div><!-- /.row -->
    </div><!-- /.section-body -->
  </div><!-- /.container -->
</section><!-- /.section-section-callout-about -->

{% include home/newsletter.html %}

{% include home/stats.html %}

{% include home/speakers.html %}

{% include section-wall.html %}
