<header class="header {% if page.header-filled == null %} header-solid {% endif %}">
  <div class="container">
    <a href="/">
      <img src="/img/logo-white.png" alt="academy.AFRICA Logo" class="logo">
    </a>

    <div class="header-inner">
      <nav class="nav nav-mobile">
        <a href="#" class="nav-trigger visible-sm visible-xs">
          <span></span><span></span><span></span>
        </a>
        <ul>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/registration">Events</a>
          </li>
          <li>
            <a href="/courses">Courses</a>
          </li>
          <li>
            <a href="/partners">Newsrooms</a>
          </li>
          <li class="visible-xs">
            <div class="user">
              <div class="user-signin">
                <a href="/registration">Register</a>
              </div><!-- /.user-signin -->
            </div><!-- /.user -->
          </li>
        </ul>
      </nav><!-- /.nav -->

      <div class="user hidden-xs">
        <div class="user-signin">
          <a href="/registration">Register</a>
        </div><!-- /.user-signin -->

      </div><!-- /.user -->
    </div><!-- /.header-inner -->
  </div><!-- /.container -->
</header><!-- /.header -->
