<section class="section-wall">
  <div class="section-body">
    <div class="wall">
      <div class="wall-row">

        <div class="wall-item wall-item-double wall-item-size-1">
          <div class="wall-item-bg" style="background-image: url('/img/section-wall/impactafrica-2.jpg')">
          </div><!-- /.wall-item-bg -->

          <div class="wall-item-content">
            <div class="wall-featured">
              <a href="https://medium.com/code-for-africa/mapping-a-new-narrative-for-africas-media-in-zanzibar-8df55ff1cd93" target="_blank" rel="noopener">
                <i class="fa fa-play-circle fa-3x"></i>  
              </a>
              <h5>Featured event...</h5>

              <h1>Zanzibar</h1>

              <p>StoryCamp</p>
            </div><!-- /.wall-featured -->
          </div><!-- /.wall-item-content -->
        </div><!-- /.wall-item -->

        <div class="wall-item wall-item-size-1">
          <div class="wall-item-bg" style="background-image: url('/img/section-wall/dbootcamp-nbo-14.jpg')">
          </div><!-- /.wall-item-bg -->
        </div><!-- /.wall-item -->
      </div><!-- /.wall-row -->

      <div class="wall-row">
        <div class="wall-item">
          <div class="wall-item-bg" style="background-image: url('/img/section-wall/dbootcamp-cmn-16.jpg')">
          </div><!-- /.wall-item-bg -->
        </div><!-- /.wall-item -->

        <div class="wall-item wall-item-pink">
          <div class="wall-item-content">
            <div class="wall-contact">
              <h2>Join the StoryLab Academy</h2>

              <br/>

              <div class="socials">
                <a href="{{ site.registration_form }}" class="btn btn-bordered btn-bordered-blue btn-text-small btn-mobile-block">Register now</a>
              </div><!-- /.socials -->
            </div><!-- /.wall-contact -->
          </div><!-- /.wall-item-content -->
        </div><!-- /.wall-item -->

        <div class="wall-item">
          <div class="wall-item-bg" style="background-image: url('/img/section-wall/google-nan-1.jpg')">
          </div><!-- /.wall-item-bg -->
        </div><!-- /.wall-item -->
      </div><!-- /.wall-row -->
    </div><!-- /.wall -->
  </div><!-- /.section-body -->
</section><!-- /.section-wall -->
