<section class="section-upcoming-academies">
  <div class="container">
    <header class="section-head">
      <h1 class="section-title">TARGET CITIES</h1><!-- /.section-title -->
      <p class="lead"><em>The StoryLab Academy is partnering with newsrooms and Hacks/Hackers communities in the following <br/>12 African cities.</em></p>
    </header><!-- /.section-head -->
    <div class="section-body">
      <div class="event-thumbs">
        {% for event in site.data.events %}
          <div class="event-thumb" style="width:20%">
            <div class="event-image">

              <a href="{{ event.url }}">
                <img src="{{ event.img_small }}" alt="">
                <div class="event-overlay">
                  <h2 class="event-title">{{ event.city }}</h2><!-- /.event-title -->
                </div><!-- /.event-overlay -->
              </a>
            </div><!-- /.event-image -->

            <div class="event-content">
            </div><!-- /.event-content -->
          </div><!-- /.event-thumb -->
        {% endfor %}

      </div><!-- /.event-thumbs -->

      <div class="section-actions text-center">
       <a href="/registration" class="btn">REGISTER NOW</a>
      </div><!-- /.section-actions -->
    </div><!-- /.section-body -->
  </div><!-- /.container -->
</section><!-- /.section-upcoming-academies -->
