---
layout: page
title: About StoryLab
breadcrumbs:
- About
---

<section class="section-contact">
  <div class="container">

    <div class="section-body">
      <div class="row">
        <div class="col-sm-7 col-md-8">
          <div class="section-content">
          {{ content }}
          </div><!-- /.section-content -->
        </div><!-- /.col-sm-7 -->

        <div class="col-sm-5 col-md-4">
        </div><!-- /.col-sm-5 -->
      </div><!-- /.row -->
    </div><!-- /.section-body -->
  </div><!-- /.container -->
</section>

{% include section-partners.html %}
