---
layout: default
---

<section class="intro">
  <div class="intro-bg" style="background-image: url('/img/bg/academy-3-1.jpg')">
  </div><!-- /.intro-bg -->

  <div class="intro-content">
    <div class="intro-content-inner">
      <div class="container">

        <h1>Courses</h1>

        <div class="intro-actions">
          <a href="/registration" class="btn btn-block">Sign up now</a>
        </div><!-- /.intro-actions -->

      </div><!-- /.container -->
    </div><!-- /.intro-content-inner -->
  </div><!-- /.intro-content -->
</section><!-- /.intro -->


<section class="section-callout-academy">
  <div class="container">
    <div class="section-body">
      <div class="row">
        <div class="col-md-10 col-center">
          <div class="callout-about">
            <h2>Incremental Building Blocks</h2>

            <p>Flexible training structure, with mix &amp; match modules, for<br/>customised courses to immediately improve your reporting and storytelling.</p>
          </div><!-- /.callout-about -->
        </div><!-- /.col-md-10 -->
      </div><!-- /.row -->
    </div><!-- /.section-body -->
  </div><!-- /.container -->
</section><!-- /.section-section-callout-academy -->

<section class="section-academy">
  <div class="container">

    <div class="section-body">
      {{ content }}
    </div>
  </div>
</section>

{% include academy/events.html %}

{% include section-wall.html %}

