<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ site.title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <!-- Vendor Styles -->
  <link href="/css/fonts.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- App Styles -->
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-nav-wizard.css">

  <style type="text/css">
    div.profile-content a:hover,
    h6.profile-title a:hover,
    h3.profile-title a:hover,
    div.wall-featured a:hover,
    div.profile-image a:hover{ text-decoration:none; cursor: default;}

  </style>
</head>

<body>

  <div class="wrapper">
    <header class="header header-solid">
      <div class="container">
       <a href="/">
        <img src="/img/logo-white.png" alt="StoryLab Academy" class="logo">
      </a>

      <div class="header-inner">
        <nav class="nav nav-mobile">
          <a href="#" class="nav-trigger visible-sm visible-xs">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <ul>
            <li class="current">
              <a href="/">Academy</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="https://facebook.com/HacksHackersAfrica" target="_blank" rel="noopner">Community</a>
            </li>

            <li class="visible-xs">
              <div class="user">
               <div class="user-signin">
                <a href="{{ site.registration_form }}" target="_blank" rel="noopner">Register</a>
              </div><!-- /.user-signin -->
            </div><!-- /.user -->
          </li>
        </ul>
      </nav><!-- /.nav -->

      <div class="user hidden-xs">

       <div class="user-signin">
        <a href="{{ site.registration_form }}" target="_blank" rel="noopner">Register</a>
      </div><!-- /.user-signin -->

    </div><!-- /.user -->
    <!--  -->
  </div><!-- /.header-inner -->
</div><!-- /.container -->
</header><!-- /.header -->

<main class="main">
  <section class="intro">
    <div class="intro-bg" style="background-image: url(/img/academyFF-resize.jpg)">
    </div><!-- /.intro-bg -->

    <div class="intro-content">
      <div class="intro-content-inner">
        <div class="container">

          <h1>StoryLab Academy</h1>

          <div class="intro-actions">
            <a href="{{ site.registration_form }}" class="btn btn-block" target="_blank" rel="noopner">Applications Open</a>
          </div><!-- /.intro-actions -->

        </div><!-- /.container -->
      </div><!-- /.intro-content-inner -->
    </div><!-- /.intro-content -->
  </section><!-- /.intro -->

  <div class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/">Home</a>
        </li>

        <li class="active">
          <a href="/">Academy</a>
        </li>
      </ol>
    </div><!-- /.container -->
  </div><!-- /.breadcrumbs -->


  <section class="section-callout-academy">
    <div class="container">
      <div class="section-body">
        <div class="row">
          <div class="col-md-10 col-center">
            <div class="callout-about">
              <h2>StoryLab Academy</h2>

              <p></p><p>The StoryLab Academy connects, supports and develops digital innovators in African newsrooms and start-ups.</p><p></p>
            </div><!-- /.callout-about -->
          </div><!-- /.col-md-10 -->
        </div><!-- /.row -->
      </div><!-- /.section-body -->
    </div><!-- /.container -->
  </section><!-- /.section-section-callout-academy -->

  <section class="section-academy">
    <div class="container">

      <div class="section-body">
       <h3>What is the StoryLab Academy?</h3>
       <p>Organised by Code for Africa, and powered by the Google News Lab and World Bank, this series of one-day workshops offers participants the opportunity to learn techniques for defining new revenue models, building digital products and creating sustainable business initiatives. The goal is to nurture leadership skills in digital innovators by connecting them with other innovators and giving them the tools to scale their ideas, wherever they work.</p>
       <p>This new initiative will run alongside the 2017 News Impact Summit series, furthering collaboration, the sharing of ideas and professional development. Each Academy meeting will bring together approximately 20 selected participants from different newsrooms and backgrounds. In this 2017 News Impact series we will visit five European cities, namely Rome, Hamburg, Budapest, Manchester and Brussels.</p>
       <h3>Key benefits for participants:</h3>
       <p>Why you should attend the News Impact Academy:</p>
       <ul>
         <li>Meet and learn from leading global innovators</li>
         <li>Learn how other industries approach innovation</li>
         <li>Discover and master design methodologies that solve everyday challenges</li>
         <li>Develop leadership skills to help you get things done in your team</li>
         <li>Get free resources to bring back to the newsroom</li>
         <li>Receive snapshots and tips from each Academy meeting throughout the year</li>
       </ul>

       <h3>Key benefits for organisations:</h3>
       <p>Individuals who attend the News Impact Academy will develop skills that accelerate innovation in any newsroom. How it benefits your organisation:</p>
       <ul>
         <li>Professional development motivates and retains staff</li>
         <li>Builds capacity in your organisation to test new ideas quickly</li>
         <li>Brings new critical perspectives for product development</li>
         <li>Creates innovation evangelists without needing to restructure</li>
         <li>“Levels-up” promising leaders without costing the earth</li>
         <li>Develops connections and business opportunities</li>
       </ul>

       <h3>How does it work?</h3>
       <p>There will be five Academy editions in 2017 that will take place on the day after each News Impact Summit. The Academy is a one-day meeting for approximately 20 selected digital innovators from European newsrooms and start-ups. The programme offers:</p>
       <ul>
         <li>Hands-on workshop on how to apply design methodologies in the newsroom</li>
         <li>Sessions to define newsroom challenges and ideate solutions</li>
         <li>AMAs and ignite talks with top innovation leaders</li>
         <li>Networking dinner to connect with fellow digital innovators</li>
       </ul>
       <h3>Want to take part in the News Impact Academy?</h3>
       <p>If you have an idea that you think could change your newsroom, or even the media industry, apply for a News Impact Academy meeting in one of the following cities:</p>
       <ul>
         <li>Rome, Italy: Wednesday 24 May</li>
         <li>Hamburg, Germany: Friday 30 June</li>
         <li>Budapest, Hungary: Wednesday 20 September</li>
         <li>Manchester, UK: Friday 3 November</li>
         <li>Brussels, Belgium: Tuesday 5 December</li>
       </ul>

       <p>Application Procedure:</p>
       <p>The application will be open at the end of March 2017. Due to the limited number of spots, the applicant is asked to fill in an application form in order to be considered for the Academy meeting. The organisers will select the participants on the basis of the application form, and the session focus of the Academy meeting according to the location.</p>
     </div>

     <div class="section-actions">
       <a href="{{ site.registration_form }}" class="btn btn-bordered btn-bordered-blue btn-text-small">Applications Open</a>
     </div><!-- /.section-actions -->
   </div>
 </section>


 <section class="section-upcoming-academies">
  <div class="container">
    <header class="section-head">
      <h1 class="section-title">Upcoming Academies</h1><!-- /.section-title -->
    </header><!-- /.section-head -->
    <div class="section-body">
      <div class="event-thumbs">
        <div class="event-thumb" style="width:20%">
          <div class="event-image">

            <a href="#">
              <img src="/img/Depositphotos_11608695_original.jpg" alt="">
              <div class="event-overlay">
                <h2 class="event-title">Rome</h2><!-- /.event-title -->
              </div><!-- /.event-overlay -->
            </a>
          </div><!-- /.event-image -->

          <div class="event-content">
            <h6 class="event-date">
              <a href="#">24 May 2017</a>
            </h6><!-- /.event-date -->


          </div><!-- /.event-content -->
        </div><!-- /.event-thumb -->
        <div class="event-thumb" style="width:20%">
          <div class="event-image">

            <a href="#">
              <img src="/img/Screen-Shot-2017-05-19-at-12.32.35.png" alt="">
              <div class="event-overlay">
                <h2 class="event-title">Hamburg</h2><!-- /.event-title -->
              </div><!-- /.event-overlay -->
            </a>
          </div><!-- /.event-image -->

          <div class="event-content">
            <h6 class="event-date">
              <a href="#">30 June 2017</a>
            </h6><!-- /.event-date -->


          </div><!-- /.event-content -->
        </div><!-- /.event-thumb -->
        <div class="event-thumb" style="width:20%">
          <div class="event-image">

            <a href="https://newsimpact.io/academy#">
              <img src="/img/Depositphotos_6147778_original.jpg" alt="">
              <div class="event-overlay">
                <h2 class="event-title">Budapest</h2><!-- /.event-title -->
              </div><!-- /.event-overlay -->
            </a>
          </div><!-- /.event-image -->

          <div class="event-content">
            <h6 class="event-date">
              <a href="#">20 September 2017</a>
            </h6><!-- /.event-date -->


          </div><!-- /.event-content -->
        </div><!-- /.event-thumb -->
        <div class="event-thumb" style="width:20%">
          <div class="event-image">

            <a href="#">
              <img src="/img/Depositphotos_48065529_original.jpg" alt="">
              <div class="event-overlay">
                <h2 class="event-title">Manchester</h2><!-- /.event-title -->
              </div><!-- /.event-overlay -->
            </a>
          </div><!-- /.event-image -->

          <div class="event-content">
            <h6 class="event-date">
              <a href="#">3 November 2017</a>
            </h6><!-- /.event-date -->


          </div><!-- /.event-content -->
        </div><!-- /.event-thumb -->
        <div class="event-thumb" style="width:20%">
          <div class="event-image">

            <a href="#">
              <img src="/img/Depositphotos_35994055_original.jpg" alt="">
              <div class="event-overlay">
                <h2 class="event-title">Brussels</h2><!-- /.event-title -->
              </div><!-- /.event-overlay -->
            </a>
          </div><!-- /.event-image -->

          <div class="event-content">
            <h6 class="event-date">
              <a href="#">5 December 2017</a>
            </h6><!-- /.event-date -->


          </div><!-- /.event-content -->
        </div><!-- /.event-thumb -->
      </div><!-- /.event-thumbs -->
    </div><!-- /.section-body -->
  </div><!-- /.container -->
</section><!-- /.section-upcoming-academies -->

<section class="section-wall">
  <div class="section-body">
    <div class="wall">
      <div class="wall-row">

        <div class="wall-item wall-item-double wall-item-size-1">
         <div class="wall-item-bg" style="background-image: url(/img/zfgxfg.jpg)">
         </div><!-- /.wall-item-bg -->



         <div class="wall-item-content">
          <div class="wall-featured">
            <a href="https://newsimpact.io/summits/amsterdam-16">
              <i class="ico-play"></i>
            </a>
            <h5>Featured event...</h5>

            <h1>Amsterdam</h1>

            <p>Emotions and Digital Storytelling</p>
          </div><!-- /.wall-featured -->
        </div><!-- /.wall-item-content -->
      </div><!-- /.wall-item -->

      <div class="wall-item wall-item-size-1">
       <div class="wall-item-bg" style="background-image: url(/img/NISHEl16_c_Petri_Anttila_I4A4593.jpg)">
       </div><!-- /.wall-item-bg -->
     </div><!-- /.wall-item -->
   </div><!-- /.wall-row -->

   <div class="wall-row">
    <div class="wall-item">
      <div class="wall-item-bg" style="background-image: url(/img/20160630_300616_News-Impact-Exclusive-Meeting_YS07-1430.jpg)">
      </div><!-- /.wall-item-bg -->
    </div><!-- /.wall-item -->

    <div class="wall-item wall-item-pink">
      <div class="wall-item-content">
        <div class="wall-contact">
          <h2>Join the News Impact Series</h2>

          <br>

          <div class="socials">
            <a href="{{ site.registration_form }}" class="btn btn-bordered btn-bordered-blue btn-text-small btn-mobile-block">Register now</a>
          </div><!-- /.socials -->
        </div><!-- /.wall-contact -->
      </div><!-- /.wall-item-content -->
    </div><!-- /.wall-item -->

    <div class="wall-item">
      <div class="wall-item-bg" style="background-image: url(/img/NISHEl16_c_Petri_Anttila_I4A4416.jpg)">
      </div><!-- /.wall-item-bg -->
    </div><!-- /.wall-item -->
  </div><!-- /.wall-row -->
</div><!-- /.wall -->
</div><!-- /.section-body -->
</section><!-- /.section-wall -->
</main><!-- /.main -->

<footer class="footer">
  <div class="footer-body">
    <div class="container">
      <div class="credits">
        <img src="/img/logos/cfafrica-gray-small.png" alt="Code for Africa" style="margin-bottom: 20px;">

        <p>The StoryLab Academy is organised by the <a href="https://codeforafrica.org/" target="_blank" rel="noopner">Code for Africa</a> in cooperation with the <a href="https://newslab.withgoogle.com/" target="_blank">Google News Lab</a> and the <a href="http://wbi.worldbank.org" target="_blank" rel="noopner">World Bank</a>.</p>
      </div><!-- /.credits -->

      <div class="footer-cols">
        <div class="footer-col">
          <h5 class="footer-title">About</h5><!-- /.footer-title -->

          <nav class="footer-nav">
            <ul>
              <li>
                <a href="/about">StoryLab Academy</a>
              </li>

              <li>
                <a href="/about#organisers">Organisers</a>
              </li>

              <li>
                <a href="/partners">Partners</a>
              </li>
              <li>
                <a href="/speakers">Speakers</a>
              </li>
            </ul>
          </nav><!-- /.footer-nav -->
        </div><!-- /.footer-col -->

        <div class="footer-col">
          <h5 class="footer-title">Summits</h5><!-- /.footer-title -->

          <nav class="footer-nav">
            <ul>
              <li>
                <a href="/summits">Past summits</a>
              </li>

              <li>
                <a href="/summits">Future summits</a>
              </li>
            </ul>
          </nav><!-- /.footer-nav -->
        </div><!-- /.footer-col -->

        <div class="footer-col">
          <h5 class="footer-title">Academy</h5><!-- /.footer-title -->

          <nav class="footer-nav">
            <ul>
              <li>
                <a href="/">Academy</a>
              </li>
            </ul>
          </nav><!-- /.footer-nav -->
        </div><!-- /.footer-col -->

        <div class="footer-col">
          <h5 class="footer-title">Community</h5><!-- /.footer-title -->

          <nav class="footer-nav">
            <ul>
              <li>
                <a href="https://facebook.com/HacksHackersAfrica" target="_blank" rel="noopner">People in our network</a>
              </li>

            </ul>
          </nav><!-- /.footer-nav -->
        </div><!-- /.footer-col -->

        <div class="footer-col">
          <h5 class="footer-title">Registration</h5><!-- /.footer-title -->

          <nav class="footer-nav">
            <ul>
              <li>
                <a href="{{ site.registration_form }}">Registration</a>
              </li>
            </ul>
          </nav><!-- /.footer-nav -->
        </div><!-- /.footer-col -->
      </div><!-- /.footer-cols -->
    </div><!-- /.container -->
  </div><!-- /.footer-body -->

  <aside class="footer-bar">
    <div class="container">
      <div class="row">
        <div class="col-xs-8">
          <p class="copyright">© 2017 <a href="https://codeforafrica.org/" target="_blank" rel="noopner">Code for Africa</a></p>
        </div> <!-- /.col-md-6 -->
        <div class="col-xs-4">
          <div class="social pull-right">
            <a href="https://twitter.com/Code4Africa" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            &nbsp;
            &nbsp;
            <a href="https://www.facebook.com/european.journalism.centre/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div> <!-- social -->
        </div> <!-- /.col-md-6 -->
      </div> <!-- row -->
    </div><!-- /.container -->
  </aside><!-- /.footer-bar -->
</footer><!-- /.footer -->
</div><!-- /.wrapper -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>

</body>
</html>