---
layout: default
---


<section class="intro">
  <div class="intro-bg" style="background-image: url('/img/bg/dronecamp-1.jpeg')">
  </div><!-- /.intro-bg -->

  <div class="intro-content">
    <div class="intro-content-inner">
      <div class="container">

        <h1>Registration</h1>

        <div class="intro-actions">
          <a href="{{ site.registration_form }}" class="btn" target="_blank" rel="noopner">Applications Open</a>
          <a href="{{ site.registration_form_fr }}" target="_blank" rel="noopener" class="btn">Applications Ouvertes</a>
        </div><!-- /.intro-actions -->

      </div><!-- /.container -->
    </div><!-- /.intro-content-inner -->
  </div><!-- /.intro-content -->
</section><!-- /.intro -->

<section class="section-callout-academy">
  <div class="container">
    <div class="section-body">
      <div class="row">
        <div class="col-md-10 col-center">
          <div class="callout-about text-center">
            <h2>Peer to Peer Learning</h2>

            <p class="lead">Hands-on training, with real-world assignments,<br/>
            supported by newsroom veterans.</p>
          </div><!-- /.callout-about -->
        </div><!-- /.col-md-10 -->
      </div><!-- /.row -->
    </div><!-- /.section-body -->
  </div><!-- /.container -->
</section><!-- /.section-section-callout-academy -->

<section class="section-academy">
  <div class="container">

    <div class="section-body">
      {{ content }}
      <br/><br/>
      <h2>Registration Form (English)</h2><br/>
      <iframe src="{{ site.registration_form }}?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

      <br/><br/>
      <h2>Formulaire D'inscription (French)</h2><br/>
      <iframe src="{{ site.registration_form_fr }}?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </div>
</section>


<section class="section-upcoming-academies">
  <div class="container" style="max-width: 800px;">
    <header class="section-head">
      <h1 class="section-title">Upcoming Academies</h1><!-- /.section-title -->
    </header><!-- /.section-head -->
    <div class="section-body">
      <div class="event-thumbs">
        {% for event in site.data.events %}
          <div class="event-thumb">
            <div class="event-image">

              <a href="{{ event.url }}">
                <img src="{{ event.img_small }}" alt="">
                <div class="event-overlay">
                  <h2 class="event-title">{{ event.city }}</h2><!-- /.event-title -->
                </div><!-- /.event-overlay -->
              </a>
            </div><!-- /.event-image -->

            <div class="event-content">
            </div><!-- /.event-content -->
          </div><!-- /.event-thumb -->
        {% endfor %}

      </div><!-- /.event-thumbs -->
    </div><!-- /.section-body -->
  </div><!-- /.container -->
</section><!-- /.section-upcoming-academies -->

