<section class="section-courses">
  <div class="container text-center" style="max-width: 920px;">
    <h3>
      Improve your digital storytelling <br/>
      with a combination of online webinars and face-to-face training in:
    </h3><br/><br/>
    <div class="row">
      {% for course in site.data.courses %}
        {% if course.category == "normal" %}
        <div class="col-sm-3">
          <div class="course-icon">
            {% include_relative {{ course.icon }} %}
          </div>
          <h3>{{ course.name }}</h3>
          <!-- {% if course.description != "" %}<p>{{ course.description }}</p>{% endif %} -->
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <br/><h3>Specialised Courses:</h3><br/><br/>
    <div class="row">
      {% for course in site.data.courses %}
        {% if course.category == "specialised" %}
        <div class="col-sm-4">
          <div class="course-icon">
            {% include_relative {{ course.icon }} %}
          </div>
          <h3>{{ course.name }}</h3>
          <!-- {% if course.description != "" %}<p>{{ course.description }}</p>{% endif %} -->
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <br/><br/><a href="/courses" class="btn btn-bordered btn-bordered-blue">Find out more about the courses</a>
    <br/><br/><br/>
  </div>
</section>
