<section class="section-events">

  <div class="container">
    <header class="section-head">
      <!-- /.section-title -->
      <h3 class="section-title">Improve your digital storytelling<br/>
      with a combination of online webinars and face-to-face training.
      </h3>
    </header><!-- /.section-head -->

    <div class="section-body">
      <div class="event-thumbs">
        {% for event in site.data.events %}
          {% if event.blurbs == "TRUE" %}
          <div class="event-thumb small-circles">
            <div class="event-image">

              <a href="{{ event.url }}">
                <img src="{{ event.img_small }}" alt="{{ event.city }}">
                <div class="event-overlay">
                  <h2 class="event-title">{{ event.city }}</h2><!-- /.event-title -->
                </div><!-- /.event-overlay -->
              </a>
            </div><!-- /.event-image -->

            <div class="event-content">

              <div class="event-entry">
                <a href="{{ event.url }}" class="btn btn-text-small event-btn">Register Now</a>
              </div><!-- /.event-entry -->
            </div><!-- /.event-content -->
          </div><!-- /.event-thumb -->
          {% endif %}
        {% endfor %}

      </div><!-- /.event-thumbs -->
    </div><!-- /.section-body -->
  </div><!-- /.container -->
</section><!-- /.section-events -->
