<section class="section-newsletter section-white" >
  <div class="container">
   <a class="anchor" id="newsletter"></a>
   <header class="section-head">
      <h1 class="section-title">Stay updated</h1><!-- /.section-title -->
      <p>Want to get updates about the News Impact Series? Subscribe now for our mailing list!</p>
    </header><!-- /.section-head -->
    <div class="section-body">

      <form action="//codeforafrica.us6.list-manage.com/subscribe/post?u=65e5825507b3cec760f272e79&amp;id=c2ff751541" method="post" id="subForm" target="_blank" rel="noopener">
        <div class ="row">
          <div class="col-xs-6 col-sm-3">
            <div class="form-group">
              <label class="sr-only" for="fieldName">First Name</label>
              <input id="fieldName" type="text" name="FNAME" class="form-first-name form-control" placeholder="First Name" required>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="form-group">
              <label class="sr-only" for="fieldName">Last Name</label>
              <input id="fieldName" type="text" name="LNAME" class="form-first-name form-control" placeholder="Last Name" required>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="sr-only" for="fieldEmail">Email Address</label>
              <input id="fieldEmail" type="email" name="EMAIL" class="form-first-name form-control" placeholder="Email Address" required>
            </div>
          </div>
          <div class="col-sm-2">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65e5825507b3cec760f272e79_c2ff751541" tabindex="-1" value=""></div>
            <button type="submit" class="btn btn-mobile-block form-btn" style="height:50px!important;line-height:50px!important;width:100%!important;">Subscribe</button>
          </div>
        </div> <!-- end Row -->
      </form>
    </div>
  </div>
</section><!-- /.section-newsletter -->
