<section class="powered-by">
  <div class="container">
    <div class="row">
      <div class="col-xs-5 text-right">
        <a href="https://codeforafrica.org/" target="_blank" rel="noopener">
          <img src="/img/logos/powered-by/cfafrica.png" class="cfafrica-logo">
        </a>
      </div>
      <div class="col-xs-7 text-left">
        <a href="https://newslab.withgoogle.com" target="_blank" rel="noopener">
          <img src="/img/logos/powered-by/google.png">
        </a>
        <br/>
        <a href="http://worldbank.org" target="_blank" rel="noopener">
          <img src="/img/logos/powered-by/worldbank.png">
        </a>
      </div>
    </div>
  </div>
</section>
