<div class="slider slider-home">
  <div class="slider-clip">
    <div class="slides">
        
      <div class="slide">
        <section class="intro intro-home">
          <div class="intro-bg" style="background-image: url( https://newsimpact.io//uploads/covers/_mainHeader/Screen-Shot-2017-05-19-at-12.32.35.png  )">
          </div><!-- /.intro-bg -->

          <div class="intro-content">
            <div class="intro-content-inner">
              <div class="container">
                <p class="disabled">News Impact Series - 29 - 30 June 2017</p>

                <h1>Hamburg</h1>

                <p>Truth, Tech &amp; Community: Building Bridges to Foster Journalism Innovation </p>
                <div class="intro-actions">
                  <a href="https://newsimpact.io/registration" class="btn btn-block">Register</a>
                </div><!-- /.intro-actions -->
              </div><!-- /.container -->
            </div><!-- /.intro-content-inner -->
          </div><!-- /.intro-content -->
        </section><!-- /.intro -->
      </div><!-- /.slide -->
      <div class="slide">
        <section class="intro intro-home">
          <div class="intro-bg" style="background-image: url( https://newsimpact.io//uploads/covers/_mainHeader/Depositphotos_6147778_original.jpg  )">
          </div><!-- /.intro-bg -->

          <div class="intro-content">
            <div class="intro-content-inner">
              <div class="container">
                <p class="disabled">News Impact Series - 19 - 20 September 2017</p>

                <h1>Budapest</h1>

                <p></p>
                <div class="intro-actions">
                  <a href="https://newsimpact.io/registration" class="btn btn-block">Register</a>
                </div><!-- /.intro-actions -->
              </div><!-- /.container -->
            </div><!-- /.intro-content-inner -->
          </div><!-- /.intro-content -->
        </section><!-- /.intro -->
      </div><!-- /.slide -->
      <div class="slide">
        <section class="intro intro-home">
          <div class="intro-bg" style="background-image: url( https://newsimpact.io//uploads/covers/_mainHeader/Depositphotos_48065529_original.jpg  )">
          </div><!-- /.intro-bg -->

          <div class="intro-content">
            <div class="intro-content-inner">
              <div class="container">
                <p class="disabled">News Impact Series - 2 - 3 November 2017</p>

                <h1>Manchester</h1>

                <p></p>
                <div class="intro-soldout">
                  <a href="https://newsimpact.io/#newsletter" class="btn btn-block">Registration opening soon</a>
                </div><!-- /.intro-actions -->
              </div><!-- /.container -->
            </div><!-- /.intro-content-inner -->
          </div><!-- /.intro-content -->
        </section><!-- /.intro -->
      </div><!-- /.slide -->
      <div class="slide">
        <section class="intro intro-home">
          <div class="intro-bg" style="background-image: url( https://newsimpact.io//uploads/covers/_mainHeader/Depositphotos_35994055_original.jpg  )">
          </div><!-- /.intro-bg -->

          <div class="intro-content">
            <div class="intro-content-inner">
              <div class="container">
                <p class="disabled">News Impact Series - 4 - 5 December 2017</p>

                <h1>Brussels</h1>

                <p></p>
                <div class="intro-soldout">
                  <a href="https://newsimpact.io/#newsletter" class="btn btn-block">Registration opening soon</a>
                </div><!-- /.intro-actions -->
              </div><!-- /.container -->
            </div><!-- /.intro-content-inner -->
          </div><!-- /.intro-content -->
        </section><!-- /.intro -->
      </div><!-- /.slide -->
    </div><!-- /.slides -->
  </div><!-- /.slider-clip -->
</div><!-- /.slider -->
