<div class="slider slider-home">
  <div class="slider-clip">
    <div class="slides">

      {% for event in site.data.events %}

        {% if event.slider == "TRUE" %}
        
          <div class="slide">
            <section class="intro intro-home">
              <div class="intro-bg" style="background-image: url('{{ event.img_large }}')">
              </div><!-- /.intro-bg -->

              <div class="intro-content">
                <div class="intro-content-inner">
                  <div class="container">
                    <p class="disabled">Join us in</p>

                    <h1>{{ event.city }}</h1>

                    <p>{{ event.country }}</p>
                    <div class="intro-actions">
                      {% if event.thumbnail == "TRUE" %}
                        <a href="{{ event.url }}" target="_blank" rel="noopener" class="btn">Register (EN)</a>
                        <a href="{{ event.url_fr }}" target="_blank" rel="noopener" class="btn">Register (FR)</a>
                      {% else %}
                        <a href="{{ event.url }}" target="_blank" rel="noopener" class="btn">Start Learning</a>
                      {% endif %}
                    </div><!-- /.intro-actions -->
                  </div><!-- /.container -->
                </div><!-- /.intro-content-inner -->
              </div><!-- /.intro-content -->
            </section><!-- /.intro -->
          </div><!-- /.slide -->

        {% endif %}

      {% endfor %}
      
    </div><!-- /.slides -->
  </div><!-- /.slider-clip -->
</div><!-- /.slider -->
