<!-- section-stats -->
<section class="section-stats">
  <div class="container">
    <div class="section-body">
      <ul class="list-stats">
        <li>
          <a href="/academy#events">
            <span>12</span>
            <strong>Cities</strong>
          </a>
        </li>

        <li>
          <a href="#">
            <span>30</span>
            <strong>Newsrooms</strong>
          </a>
        </li>

        <li>
          <a href="#">
            <span >5</span>
            <strong>Universites</strong>
          </a>
        </li>

        <li>
          <a href="#">
            <span >99</span>
            <strong>Workshops</strong>
          </a>
        </li>

        <li>
          <a href="#">
            <span >5000</span>
            <strong>Participants</strong>
          </a>
        </li>

      </ul><!-- /.list-stats -->
    </div><!-- /.section-body -->
  </div><!-- /.container -->
</section><!-- /.section-stats -->
