<!-- section-stats -->
<section class="section-stats">
  <div class="container">
    <div class="section-body">
      <ul class="list-stats">
        <li>
          <a href="/summits">
            <span>22</span>
            <strong>Events</strong>
          </a>
        </li>

        <li>
          <a href="/speakers">
            <span>286</span>
            <strong>Speakers</strong>
          </a>
        </li>
        <li>
          <a href="/participants">
            <span >5820</span>
            <strong>Members</strong>
          </a>
        </li>

        <li>
          <a href="/partners">
            <span >217</span>
            <strong>Partners</strong>
          </a>
        </li>

      </ul><!-- /.list-stats -->
    </div><!-- /.section-body -->
  </div><!-- /.container -->
</section><!-- /.section-stats -->
