<!-- section-stats -->
<section class="section-stats">
  <div class="container">
    <div class="section-body">
      <ul class="list-stats">
        <li>
          <a href="/academy#events">
            <span>{{ site.data.events | size }}</span>
            <strong>Events</strong>
          </a>
        </li>

        <li>
          <a href="/speakers">
            <span>{{ site.data.speakers | size }}</span>
            <strong>Speakers</strong>
          </a>
        </li>
        <li>
          <a href="#">
            <span >{{ site.data.members | size }}</span>
            <strong>Members</strong>
          </a>
        </li>

        <li>
          <a href="/partners">
            <span >{{ site.data.partners | size }}</span>
            <strong>Partners</strong>
          </a>
        </li>

      </ul><!-- /.list-stats -->
    </div><!-- /.section-body -->
  </div><!-- /.container -->
</section><!-- /.section-stats -->
